
<script type="text/javascript">


 
</script>


<header style="background-color: #212529FF" >
    
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid container">
            <a class="navbar-brand" href="#" [routerLink]="['/home']"><img src="/assets/images/rental_cars_logo_24.png" alt="RentACar_" title="RentACar_"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" [routerLink]="['/home']" href="/home">Home</a></li> -->
                    <li class="nav-item"><a class="nav-link" routerLink="/cars" href="#">Fleet</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/main" href="#">Book</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/home']" fragment="home-promotion"    href="home#home-promotion">Sale</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/home']" fragment="who-we-are"   href="home#who-we-are">Academy</a></li>
                    <li class="nav-item dropdown unique-color-dark">
                        <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="admin !== 1">Admins</a>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="admin === 1">Admins</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="/admin-cars" *ngIf="admin === 1">Manage Cars</a></li>
                            <li><a class="dropdown-item" routerLink="/admin-users" *ngIf="admin === 1">Manage Users</a></li>
                            <li><a class="dropdown-item" routerLink="/manage" *ngIf="admin === 1">Manage Bookings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" routerLink="/create-car" *ngIf="admin === 1">Add new car</a></li>
                        </ul>
                    </li>
                    <!--
                    <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a></li>
                    -->
                </ul>


                <div>
                    <button class="btn btn-sm btn-outline-light" type="submit" *ngIf="auth === false" routerLink="/login" >Login</button>
                    <span *ngIf="admin !== 1">&nbsp;</span>
                    <button class="btn btn-sm btn-warning" type="submit"  *ngIf="auth === false" routerLink="/register" >Register</button>
                    <button id="logout_button" class="btn btn-sm btn-outline-warning" type="submit"  *ngIf="auth === true" (click)="collapse(); onLogout()" routerLink="/home">Logout</button>
                </div>
            </div>
        </div>
    </nav>

</header>



    <router-outlet></router-outlet>    
