<div class="jumbo">
    <div class="container">
        <h1>More cars than stars.<BR>Fleet of amazing cars<BR>waiting for you.</h1>
        <p>All over the globe people are taking our <strong>cars</strong>. We help them make their <strong>dreams come true</strong>.
           You can rent any car on this planet. It was never easier just browse our selection. No credit card needed.<BR>
           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
        <p><a class="btn btn-primary btn-lg" style="color: white; font-family: sans-serif;" role="button" [routerLink]="['/main']" >Book now &raquo;</a><p>
        <img src="/assets/images/code.png" title="Code.org logo" alt="Code.org">
    </div>
</div>



<div id="home-promotion"  class="home-promotion">
    <div id="home-banner"  class="homepage">
        <div id="promotion2" class="container homepage">
            <img src="/assets/images/free_days.png" class="earn-free-days" alt="Special" title="Promotion">
        </div>
    </div>


    <div id="promotion" class="container homepage">
        <h2>Special</h2>
        <hr>
        <p>Today's special. We aim to improve education through both method</p>
    </div>
</div>


<div id="get-involved">
    <div class="container homepage" >
        <h2>Actions</h2>
        <hr>
        <div class="row">
            <div class="col-md-3 card-body1">
                <div>
                  <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-calendar-plus-o fa-stack-1x fa-inverse"></i>
                  </span>
                    <h3>Add car</h3>
                    <p>Select desired dates. Chose vehicle and rent.
                        <BR>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div style="text-align: center;">                
                    <!-- <p><a class="btn btn-outline-primary" href="grid.html" role="button">Book &raquo;</a></p> -->
                    <p><a class="btn btn-outline-primary " href="/create-car" routerLink="/create-car"  role="button">Add Car &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-3 card-body1">
                <div>
                    <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Reservations</h3>
                    <p>Browse and remove reservations
                        <BR>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>
                <div style="text-align: center;">                
                    <!-- <p><a class="btn btn-outline-primary" href="https://www.google.com" target="_blank" role="button">Reservations &raquo;</a></p> -->
                    <p><a class="btn btn-outline-primary " href="/manage" routerLink="/manage"  role="button">Reservations &raquo;</a></p>
                </div>
                </div>
            <div class="col-md-3 card-body1">
                <div>
                <span class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Cars</h3>
                <p>Upload images. Add and remove cars.
                    <BR>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                </div>
                <div style="text-align: center;">                
                <p><a class="btn btn-outline-primary" href="/admin-cars" routerLink="/admin-cars" role="button">Cars &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-3 card-body1">
                <div>
                <span class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h3>Users</h3>
                <p>Remove users or grant provilaes
                    <BR>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                </div>
                <div style="text-align: center;">
                <p><a class="btn btn-outline-primary " href="/admin-users" routerLink="/admin-users"  role="button">Users &raquo;</a></p>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</div>


<div id="who-we-are">
    <div class="container homepage">
        <img src="/assets/images/academy_brand_med_blue2.png" alt="Academy" title="MASSIVE">
        <h2>Who we are</h2>
        <hr>
        <p>We are <span class="who-we-are-link"><a href="http://www.google.com" target="_blank">Miso soup Academy</a></span>. We aim to improve education through both method - effective project-based learning - and material - by teaching skills that are applicable to improving your life today.</p>
    </div>
</div>