<div class="row">
    <h2 class="text-center">Please give a dates</h2>
    <form (submit)="onSearch(dateform)" #dateform="ngForm" class="text-center">
        <input 
        type="text"
        ngModel
        placeholder="Daterangepicker"
        matInput
        bsDaterangepicker
        name="dateinput"
        [bsConfig]="{rangeInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue'}"
        ><BR>
<button type="submit" class="btn btn-outline-success btn-block mx-auto" >Search</button>    
</form>

</div>